<h1>Listing classes</h1>

<%= link_to 'New class', new_sclass_path %>
<table>
	<tr>
		<th>年级</th>
		<th>班级</th>
		<th colspan="3"></th>
	</tr>

	<% @sclasses.each do |sclass| %>
		<tr>
			<td><%= sclass.grade_name %></td>
			<td><%= sclass.class_name %></td>
			<td><%= link_to 'Show', sclass_path(sclass) %></td>
			<td><%= link_to 'Edit', edit_sclass_path(sclass) %></td>
			<td><%= link_to 'Destroy', sclass_path(sclass), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>