<div class="sclasses-index">
	<h1>班级管理</h1>
	<p>
		<%= link_to '新增班级', new_sclass_path, class: "btn btn-success" %>
	</p>
	<div class="grid-view">
		<table class="table table-striped table-bordered">
			<tr>
				<th>ID</th>
				<th>年级</th>
				<th>班级</th>
				<th>操作</th>
			</tr>

			<% @sclasses.each do |sclass| %>
				<tr>
					<td><%= sclass.id %></td>
					<td><%= sclass.grade_name %></td>
					<td><%= sclass.class_name %></td>
					<td>
						<%= link_to '查看', sclass_path(sclass) %>
						<%= link_to '编辑', edit_sclass_path(sclass) %>
						<%= link_to '删除', sclass_path(sclass), method: :delete, data: { confirm: '删除班级会删除班级下的学生，你确定要执行此操作吗?' } %>
						</td>
				</tr>
			<% end %>
		</table>
		<%= paginate @sclasses %>
	</div>
</div>