<div class="sclass-view">
	<h1><%= @sclass.id %></h1>
	<p>
		<%= link_to '编辑', edit_sclass_path(@sclass), class: 'btn btn-primary' %>
	</p>
	<table class="table table-striped table-bordered detail-view">
		<tr>
			<th>ID:</th>
			<td><%= @sclass.id %></td>
		</tr>
		<tr>
			<th>年级:</th>
			<td><%= @sclass.grade_name %></td>
		</tr>
		<tr>
			<th>班级:</th>
			<td><%= @sclass.class_name %></td>
		</tr>
	</table>
</div>