<!DOCTYPE html>
<html>
  <head>
    <title>学校学生管理系统</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <nav aria-label="breadcrumb">
      <ol class='breadcrumb'>
        <% breadcrumb_trail do |crumb| %>
          <li class="breadcrumb-item <%= crumb.current? ? 'active' : '' %>">
            <%= link_to_unless crumb.current?, crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
          </li>
        <% end %>
      </ol>
    </nav>
    <div class="container">
        <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
